*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
label{
  font-size: 20px;
  font-weight: 500;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #FFF;
  width: 100%; 
  margin-top: -30px;
  padding: 32px 48PX;
  border-radius:10PX;
  max-width: 400px;
  box-shadow: 8px 8px 0px rgba(66,68,90,0.1);
}

.container > h1{
  
  margin-bottom: 20px;
}
.container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid black;
  border:none;
  outline:none;
}
.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  margin-top: 10px 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: purple;
  color: white;
  border:none;
  cursor: pointer;
}